<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/homePageStyle.css">
    <title>CSV Upload | Home</title>
</head>

<body>
    <header>
        <h1>
            CSV File Uploader and Reader
        </h1>
    </header>

  
        <section id="upload-section">
            <h4>
                Upload a .CSV file here
            </h4>
            <form action="/csv/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="csvFile" id="">

                <input type="submit" id="upload-submit-btn">
                    
                
            </form>
        </section>
        <section id="list-section">
            <h3>
                Uploaded Files
            </h3>
               <div id="list-container">
                <% for(let i=0 ; i< csvFiles.length; i++) {%>
                    <div id="list-tile">
                        <div class="item-number">
                            <%= i+1 %>
                        </div>
                        <div>
                            <%=csvFiles[i].fileName %>
                        </div>
                        <div id="delete-button">
                            <button onclick="deleteFile('<%= csvFiles[i].id %>')" >
                                delete
                            </button>
                        </div>
                        <div>

                        </div>
                    </div>
                    <% }%>
               </div>
        </section>
</body>

</html>