<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>CSV Upload | Home</title>
</head>

<body>
    <header>
        <h1>
            CSV File Uploader and Reader
        </h1>
    </header>

  
        <section id="upload-section">
            <h4>
                Upload a .CSV file here
            </h4>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="csvFile" id="">

                <button id="upload-submit-btn">
                    Submit
                </button>
            </form>
        </section>
        <section id="list-section">
            <h3>
                Uploaded Files
            </h3>
                <% for(let i=0 ; i< 10 ; i++) {%>
                    <div id="list-tile">
                        <div class="item-number">
                            <%= i+1 %>
                        </div>
                        <div>
                            
                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                    </div>
                    <% }%>
        </section>
</body>

</html>