
header {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

#search-box {
    height: 30px;
    display: grid;
    place-items: center;
    margin: 0px;
    
}

#search-input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
}

#csv-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

.sort {
    	border-radius: 10px;
        border: 1px solid black;
}

#csv-table td,
#csv-table th {
    border: 1px solid #ddd;
    padding: 8px;
}


#csv-table tr:hover {

    background-color: #ddd;
}

#csv-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(79, 140, 143);
    color: white;
}